cmake-build-debug/cmake_install.cmake
cmake-build-debug/.ninja_deps
cmake-build-debug/.cmake/api/v1/reply/cache-v2-5b6eeb2901403be70758.json
cmake-build-debug/.ninja_log
cmake-build-debug/build.ninja
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-e5164f7f4975c94671d4.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-f61cc8e48918c8517395.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-04-22T20-57-57-0375.json
cmake-build-debug/.cmake/api/v1/reply/target-solve_my_math_exam-Debug-cf3a89d473c566c88c1b.json
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-3cb7ac949bd4d029da2a.json
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/3.26.4/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.26.4/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/a.exe
cmake-build-debug/CMakeFiles/solve_my_math_exam.dir/main.cpp.obj
cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/solve_my_math_exam.dir/MathInterpter.cpp.obj
cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.26.4/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/a.exe
cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_CXX.bin
CMakeLists.txt
.idea/.name
.idea/solve my math exam.iml
cmake-build-debug/CMakeCache.txt
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
